<fieldset>
  <legend>
    <span class="form-title">Edit List</span>
    <a class="pull-right delete-list btn" href="#">
      <i class="icon-trash"></i>
    </a>
  </legend>
  <div class="contorl-group">
    <label class="control-label" for="list_title">Title</label>
    <div class="controls">
      <input class="input-xlarge" id="list_title" type="text" name="title" value="{{title}}" placeholder="The list's title"/>
    </div>
  </div>
</fieldset>
<div class="form-actions">
  <button class="btn btn-primary" type="submit">Save Changes</button>
  <button class="btn cancel" type="submit">Close</button>
</div>
