<fieldset>
  <legend>
    Task Properties
    <a class="pull-right delete-task btn" href="#" data-task-id="{{id}}"><i class="icon-trash"></i></a>
  </legend>
  <div class="control-group">
    <label for="task_title">Title</label>
    <input class="input-block-level" type="text" id="task_title" value="{{title}}" placeholder="The task's title" name="title"/>
  </div>
  <div class="control-group">
    <label class="radio"><input type="radio" name="status" value="needsAction" {{ status ==='needsAction' ? 'checked' : '' }}/> Needs action</label>
    <label class="radio"><input type="radio" name="status" value="completed" {{ status ==='completed' ? 'checked' : '' }}/> Complete</label>
  </div>
  <div class="control-group">
    <label for="task_notes">Notes</label>
    <textarea class="input-block-level" name="notes" id="task_notes" placeholder="Notes about this task">{{notes}}</textarea>
  </div>
</fieldset>
<div class="form-actions">
  <button class="btn btn-primary" type="submit">Save Changes</button>
  <button class="cancel btn">Close</button>
</div>
